<div class="juego">
  <div class="contenedor-imagen">
    <img [src]="'assets/img/' + imagenes[juego.intentosActuales] + '.png'" alt="">
  </div>

  <div class="controles-juegos">
    <div class="palabra-oculta">{{ juego.palabraOculta }}</div>
    <input [(ngModel)]="intentoActual" (change)="intentar()" placeholder="Ingresa una letra" type="text">
    <div>
      Intentos restantes: {{ juego.intentosMaximos - juego.intentosActuales }}
    </div>
    <div *ngIf="juego.estado === 'gano'" class="texto-verde">
      ¡Ganaste!
    </div>
    <div *ngIf="juego.estado === 'Perdio'" class="texto-rojo">
      Perdiste. La palabra era: {{ juego.palabra }}
    </div>
    <button (click)="mostrarConfiguracion = !mostrarConfiguracion">Configurar</button>
    <div [class.active]="mostrarConfiguracion" class="Configuración">
      <span>Ingresa la nueva palabra</span>
      <input [(ngModel)]="nuevaPalabra" placeholder="Nueva Palabra" type="text">
      <button (click)="nuevoJuego()">Guardar</button>
    </div>
    
    <div class="letras-usadas">
      <h4>Letras Usadas</h4>
      <!-- Asegúrate de reemplazar *ngFor con la sintaxis correcta de Angular para renderizar listas -->
      <span *ngFor="let letra of juego.letrasIngresadas">
        {{ letra }}
      </span>
    </div>
  </div>



</div>